<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::Layout(~{::title},~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>BK-[[${book.getBook_id}]][[${book.getBookName}]]</title>
</head>
<body>
<section class="text-center mt-5 ">
	<div class="container-fluid text-center mb-5" style="height: 100%; width: max-content;">
		<div class="card mt-3 ms-5 me-5" style="background: linear-gradient(rgb(255, 255, 198), rgb(253, 230, 208));">
			<div class="card-header">
				<div class="container text-center ">
					<div class="row mt-3 mb-2">
					<div class="col-6">
						<img th:src="@{'/book_img/'+${book.getBookImageName}}" class="p-2" style="height: 200px; width: 180px; border-radius: 5%; background-color: rgb(255, 255, 255);">
				<div class="row pb-1">
							<div class="col"><strong>TITLE : </strong><span class="text-uppercase">[[${book.getBookName}]]</span></div></div>
							<div class="row pt-1"><div class="col"><strong>AUTHOR : </strong><span class="text-uppercase">[[${book.getAuthor}]]</span></div>
						</div>
					</div>
					<div class="col-6">
					
						<strong class="text-decoration-underline">BOOK DESCRIPTION</strong>
						<br>
				<br>
						<div class="overflow-auto" id="mytextarea" style="height: 10rem; background: transparent; border:1px solid dimgray;" readonly>
									[[${book.getDescription}]]
									</div>
									<a th:href="@{'/view_book/'+${book.getBook_id}+'/description'}" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">View Full Details</a>
									
									<!--Modal-->
									<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
						tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h4>[[${book.getBookName}]]
									</h4>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body text-center">
									<h4 th:text="${book.getDescription}">
									</h4><br>
								</div>								<div class="modal-footer"></div>
							</div>
						</div>
					</div>
					
					<!--End Modal-->
					
				</div>
					
					
				</div>
				</div>
				
			</div>
			<div class="card-body">
				<div class="row">
				
			<div class="col-6 mb-1" style="border-right: 1px solid rgb(128, 128, 128);">
				<strong class="text-primary text-decoration-underline ">SELLER INFORMATION</strong>
				<br>
				<br>
				<p class="text-start"><span class="fw-bold">Email : </span> [[${seller.getEmail}]]</p>
				<p class="text-start"><span class="fw-bold">Mobile : </span> [[${seller.getMobileNo}]]</p>
				<p class="text-start"><span class="fw-bold">Address : </span> [[${seller.getAddress}]]</p>
			</div>
			<div class="col-6">
					<div class="row text-center text-danger">
						<h5><i class="fas fa-money-bill-wave "></i>
						Cash On Delivery</h5>
					</div><hr>
					<div class="row text-center text-danger">
						<h5><i class="fas fa-undo-alt"></i>
						Return Available</h5>
					</div><hr>
					<div class="row text-center text-danger">
						<h5><i class="fas fa-truck-moving "></i>
						Free Shipping</h5>
					</div><hr>
				</div>
				<hr>
				
				<div th:if="${user.role=='ROLE_ADMIN'}">
							<a th:href="@{/user/update-contact/}" class="btn btn-primary"><i
							class="fa-solid fa-pen-to-square"></i>Edit</a>
							<a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-trash-can"></i> Delete</a>
							
							<!-- Modal -->
					<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
						tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body text-center">
									<h4>Do you want to delete Book
									</h4><br>
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Cancel</button>
									<a href="../delete?id=<%=b.getBookId()%>" class="btn btn-danger">Confirm</a>
								</div>
								<div class="modal-footer"></div>
							</div>
						</div>
					</div>
					
					<!--End Modal-->
							
							
							
						</div>
						<div th:if="${user.role=='ROLE_USER'}">
							 <a href="#"
								class="btn btn-success btn-sm mt-1"><i class="fa-solid fa-cart-plus"></i> Add Cart</a>
							<a href="" class="btn btn-danger btn-sm mt-1"><i class="fa-solid fa-indian-rupee-sign"></i>
								[[${book.getBookPrice}]]
							</a>
						</div>
						
			</div>
			
		</div>
	</div>
</section>
</body>
</html>