<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::Layout(~{::title},~{::section})}">

<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
</head>
<body>
	<section style="margin-top: 5rem;" >
		<div class="container align-items-center justify-content-center" style="margin-top: 10%;">
				<div class="row justify-content-center">
					<div class="col-sm-10 col-md-6 offs">
			<div class="card ">
				<div class="text-center" th:if="${session.msg}"><p class="text-danger" th:text="${seesion.msg}"></p></div>
				<th:block th:text="${@sessionHelper.removeSessionMessage()}"></th:block>
				<div class="card-body">
						<form th:action="@{/reset-password}" method="post">
							<div class="form-group mb-3">
								<label class="form-lablel mb-1" for="password1">Enter new Password:</label>
								<input type="text" id="password1" name="password1" class="form-control" placeholder="Enter Password here"> 
							</div>
							<div class="form-group mb-3">
								<label class="form-lablel mb-1" for="password2">Confirm Password:</label>
								<input type="text" id="password2" name="password2" class="form-control" placeholder="Enter again password here"> 
							</div>
								<div class="text-center"><button type="submit" class="btn btn-success">Update Password</button></div>
						</form>
						
					</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>

</body>
</html>