<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:replace="~{normal/base::Layout(~{::title},~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
</head>
<body>
<section>
	<div class="container justify-content-center align-items-center" style="margin-top: 10%;">
		<div class="row justify-content-center">
					<div class="col-sm-10 col-md-6 offs">
		<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
			<div th:if="${session.msg}"><span th:text="${session.msg}"></span></div>
			<th:block th:text="${@sessionHelper.removeSessionMessage()}"></th:block>
				<div class="card-header fs-3 text-center">Forgot Password</div>
				<div class="card-body">
						<form th:action="@{/get-otp}" method="post">
							<div class="form-group mb-3">
								<label class="form-lablel mb-1">Enter Username:</label>
								<input type="text" name="email" class="form-control" placeholder="Enter Registered Email"> 
							</div>
								<div class="text-center"><button type="submit" class="btn btn-warning">Get OTP</button></div>
						</form>
						<hr class="m-2">
						<a th:href="@{/login}" class="text-decoration-none text-center" >Login here</a>
					</div>
		</div></div>
		</div>
	</div>
</section>
</body>
</html>